/* body{
    margin: 0;
    padding: 0;
}

.formcontrol{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: darkcyan;
    
    
}
.formbody{
    background-color: aliceblue;
    width: 30%;
    
}
.form-input{
    width: 100%;
    padding: 0;
    border: none;
} 
label{
    margin-top: 10px;
} */

.search{
    width: 25%;
}
.form-search{
    display: flex;
    justify-content: end;
}
.text-table{
    font-size: 20px;
}

@media (max-width: 576px) {
    .search{
       
        width: 50%;
    }
    .form-search{
        display: flex;
        justify-content: start;
    }
    .text-table{
        font-size: 10px;
    }
    
  }